*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
 
display: flex;
justify-content: center;
}

.app{
  min-width: 600px;
  min-height: 300px;
  text-align: center;
  padding: 20px;
}
.container{
  text-align: left;
  max-width: 600px;
  max-height: min-content;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form{

  display: flex;
}

.outPut{

  width: 40%;
  height: 100%;
}

.outPut-inner-div{
  display:block;
  padding: 5px;

}

.submit-btn{
  width: 100%;
  display: flex;
    justify-content: center;
}

.submit-btn > .submit {
  width: 60%;
}

.input_label{
  font-size: 18px;
  margin-bottom: 5px;
}

.input{
  -webkit-user-drag: 100%;
}
